* {
 outline: 1px dashed red;
 margin: 0;
}

/* all responsive */
header, nav, section, footer {
 padding: 8px;
}
header {
 /* text-align: center; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
nav {
 position: -webkit-sticky; /* safari */
 position: sticky;
 top: 0;
}
section h3, p {
	text-align: center;
}

/* mobile responsive */
@media screen and (max-width: 480px) {
 header, section, footer {
  height: 648px;
 }
}

/* pc responsive */
@media screen and (min-width: 480px) {
 header, section, footer {
  height: 554px;
 }
	header, nav, section, footer {
		padding: 8px 40px;
	}
}

/* class styling */
.flexContainer {
	margin: 12px 0px;
	display: flex;
}
.boxShadow {
	width: 200px;
	height: 260px;
	background: lime;
	box-shadow: 5px 5px 10px black;
}

/* id styling */
#flexContainerAsset {
	justify-content: space-evenly;
}