* {
 outline: 1px dashed red;
 margin: 0;
}

/* all responsive */
header, nav, section, footer {
 padding: 8px;
}
header {
 /* text-align: center; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
nav {
 position: -webkit-sticky; /* safari */
 position: sticky;
 top: 0;
}

/* mobile responsive */
@media screen and (max-width: 480px) {
 header, section, footer {
  height: 648px;
 }
}

/* pc responsive */
@media screen and (min-width: 480px) {
 header, section, footer {
  height: 558px;
 }
}