* {
 /* outline: 1px dashed red; */
 margin: 0;
 /* font-size: 1em; */
}
/* body {
 width: 100%;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 overflow: hidden;
} */

/* all responsive */
header, nav, section, footer {
 /* width: 100%; */
 padding: 8px;
 /* display: flex;
 flex-direction: column;
 flex-wrap: wrap; */
}
header {
 background-size: 90% auto;
 background: url(powerPoint.jpg) no-repeat center;
 background-attachment: cover;
 /* text-align: center; */
 /* display: flex; */
 /* flex-direction: column; */
 /* justify-content: center; */
 /* align-items: center;  */
}
nav {
 position: -webkit-sticky; /* safari */
 position: sticky;
 top: 0;
	background: gray;
}
section h3, p {
	text-align: center;
}

/* element */
table {
	width: 100%;
	margin: 14px 0px;
}
td {
	text-align: center;
}

/* class styling */
.boxShadow {
	width: 200px;
	height: 260px;
	box-shadow: 5px 5px 10px black;
}
.flexContainer {
	margin: 12px 0px;
	display: flex;
}

/* id styling */
#backgroundBlue {
	background: blue;
}
#backgroundRed {
	background: red;
}
#backgroundYellow {
	background: yellow;
}
#flexContainer_spaceEvenly {
	justify-content: space-evenly;
}
#textAlign_center {
	text-align: center;
}

/* custom styling */
#powerPoint_text {
 color: #bf3c1f;
}

/* pc responsive */
@media screen and (min-width: 480px) {
 header, section, footer {
  min-height: 554px;
 }
	.background_opacity {
		width: 100%;
		height: 554px;
		background: rgba(242, 242, 242, 0.8);
 	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
	}
	header, nav, section, footer {
		padding: 8px 40px;
	}
}

/* mobile responsive */
@media screen and (max-width: 480px) {
 header, section, footer {
  height: 648px;
 }
 header {
  background-size: 350px auto;
  background-position: 0px 50px;
 }
 .header_text {
  position: absolute;
  top: 350px;
 }
 table {
  display: none;
 } 
}